$lightBl: #629dfb;
$darkBl: #3984fa;
$ellipseCl: #337ffa;
$silverTy: rgba(236, 236, 236, 0.8);
$leftGrad: linear-gradient(to top left, $darkBl 40%, $lightBl 90%);
$rightGrad: linear-gradient(60deg, white 10%, $silverTy 70%);
$fb: #7e9ee2;
$linkedin: #5ab8e4;
